:root {
    --color-light-1: #ffffff;
    --color-light-2: #f6f5f4;
    --color-light-3: #deddda;
    --color-light-5: #9a9996;

    --color-blue-3: #3584e4;

    --color-green-1: #8e9b81;
    --color-green-2: #596D48;
    --color-green-3: #3c4831;

    --color-red-3: #e01b24;

    --color-dark-1: #77767b;
    --color-dark-2: #5e5c64;
    --color-dark-3: #3d3846;
    --color-dark-5: #000000;
    --color-dark-5t: #00000070;
}

@font-face {
    font-family: 'Norse';
    src: url('./assets/fonts/Norse-Bold.woff2') format('woff2'),
        url('./assets/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Reddit Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

.container {
    box-shadow: 0 0 15px 5px var(--color-dark-5t);
    display: flex;
    height: 50rem;
    width: 65rem;
}

.image-column {
    align-items: center;
    background: url(./assets/images/banner.jpg) center/cover no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    position: relative;
}

.brand {
    align-items: center;
    background-color: var(--color-dark-5t);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10rem;
    width: 100%;
}

.brand-name {
    color: var(--color-light-1);
    font-family: 'Norse', sans-serif;
    font-size: 5rem;
}

.brand-logo {
    height: 5rem;
}

.image-attribution,
.image-attribution a {
    color: var(--color-light-1);
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.form-column {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.header-section {
    background-color: var(--color-light-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1.08;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 70px 20px 30px;
}

.header-section p:last-child {
    margin: 20px 0 20px 0;
}

.form-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 70px 20px 30px;
}

.form-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.form-row {
    display: flex;
    gap: 2rem;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

label {
    color: var(--color-dark-3);
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

input {
    border: 1px solid var(--color-light-3);
    border-radius: 4px;
    width: 15rem;
}

input:focus {
    outline: 2px solid var(--color-blue-3);
    box-shadow: 0 0 5px 1px var(--color-dark-5t);
}

input[type="password"]:user-invalid {
    outline: 2px solid var(--color-red-3);
}

.footer-section {
    background-color: var(--color-light-2);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px 70px 20px 30px;
}

.create-account-btn {
    background-color: var(--color-green-2);
    border: none;
    border-radius: 10px;
    color: var(--color-light-1);
    cursor: pointer;
    font-weight: bold;
    max-width: 13rem;
    margin-top: 15px;
    padding: 15px 20px 15px 20px;
    transition: background-color 0.3s ease;
}

.create-account-btn:hover {
    background-color: var(--color-green-1);
}

.create-account-btn:active {
    background-color: var(--color-green-3);
}

.login-message {
    font-weight: 500;
}

.login-message a {
    text-decoration: none;
    color: var(--color-green-3);
}

.login-message a:hover {
    text-decoration: underline;
}